
@font-face {
font-family: "Bold";
  src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
font-family: "Medium";
  src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
font-family: "Regular";
  src: url("fonts/Montserrat-Regular.ttf");
}

body {
	text-align: center;
	margin: 0 auto;
}

.slider {
	position: relative;
	z-index: 0;
}

.slider img {
	width: 100%;
}

.slidercaption {
	text-align: left;
	width: 400px;
	position: absolute;
	font-family: Regular;
	top: 350px;
	left: 400px;
	z-index: 1;
}

.slidercaption span {
	font-size: 56px;
}

.slidercaption p {
	color: #7f7f7f;
	margin: 30px 0 40px 0;
}

.slidercaption button {
	color: white;
	background-color: black;
	height: 60px;
	width: 200px;
	border: 0;
	font-family: Regular;
}

.slidercaption button:hover {
	color: black;
	background-color: transparent;
	border: 1px solid black;
}

header {
	position: absolute;
	width: 100%;
 	z-index: 2;

}

.top-head {
	display: flex;
	justify-content: center;
	align-items: center;

}

.top-head img{
	margin: 10px;

}

.name {
	font-family: Bold;
	margin: 10px 350px 10px 350px;
}

.line {
	border-top: 1px solid #d4d4d4;
	width: 100px;
	margin: auto;
}


.head-nav {
	margin: 0;
}

.head-nav li {
	display: inline-block;
	margin: 15px;
	font-family: Bold;
}

.trending {
	background-color: white;
}

.advantages {
	display: flex;
	justify-content: center;
}

.advantage {
	width: 350px;
	line-height: 20px;
	margin: 30px 70px 30px 70px;
}

.advantage span {
	font-family: Medium;
	font-size: 14px;
}

.advantage p {
	font-family: Regular;
	font-size: 13px;
	color: #929292;
}

.trending {
	display: flex;
	justify-content: space-around;
}

figure {
	display: inline-block;
	width: 440px;
	position: relative;
	margin: 10px;
}

figure img:hover {
	
}

figcaption {
	position: absolute;
	top: 350px;
	left: 100px;
}

figcaption button {
	color: black;
	background-color: white;
	height: 60px;
	width: 200px;
	border: 0;
	font-family: Regular;
}

figcaption button:hover {
	color: white;
	background-color: black;
}

nav button {
	display: inline-block;
	background-color: transparent;
	border: 0;
	margin: 35px 0 35px 0;
}

.top .h2 {
	font-family: Regular;
	font-size: 	42px;
	margin: 100px 0 30px 0;
}

.top p {
	font-family: Regular;
	font-size: 	13px;
}

#all-prod {
	color: white;
	background-color: black;
	height: 60px;
	width: 200px;
	border: 0;
	font-family: Regular;
	margin-bottom: 80px;
}

#all-prod:hover {
	color: black;
	background-color: transparent;
	border: 1px solid black;
}

.top-trending {
	width: 350px;
	font-family: Regular;
	font-size: 14px;
	margin-bottom: 50px;
}

.top-trending button{
	width: 150px;
	display: inline-block;

}

.top-trending figcaption {
	position: absolute;
	top: 350px;
	left: 20px;
}

.top-trending  span {
	font-size: 13px;
	color: #929292;
}

.top-trending  .new {
	background-color: black;
	font-size: 12px;
	color: white;
	padding: 5px 10px 5px 10px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.top-trending  .sale {
	background-color: #c55353;
	font-size: 12px;
	color: white;
	padding: 5px 10px 5px 10px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.bags-shoes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.bag {
	width: 960px;
	height: 630px;
	font-family: Regular;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bag .h2 {
	font-size: 56px;
	margin: 100px 0 30px 0;
}

.bag p {
	color: #7f7f7f;
	width: 500px;
	margin: 30px;
}

.bag button {
	color: black;
	background-color: transparent;
	border: 1px solid black;
	height: 60px;
	width: 200px;
	font-family: Regular;
}

.bag button:hover {
	color: white;
	background-color: black;
}

.marks {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px;
}

.instagram {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.instagram span{
	position: absolute;
	top: 130px;
	color: white;
	font-size: 42px;
	font-family: Regular;
}

#map {
	height: 400px;
	position: relative;
}

#map img {
	width: 100%;
}

#map div {
	position: absolute;
	top:100px; 
	left: 400px;
	background-color: white;
	text-align: left;
	padding: 30px;
	font-family: Regular;
	font-size: 13px;
	box-shadow: 0 2px 7px grey;
}

.before-footer {
	display: flex;
	justify-content: space-around;
	font-family: Regular;
	font-size: 13px;
}

.footer-nav {
	text-align: left;
	color: #929292;
	list-style-type: none;
}

.footer-nav li{
	margin: 10px;
}

footer {
height: 50px;
background-color: #1e1b1b;
}

footer img {
margin-top: 10px;
}